{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static "styles.css" %}> <!-- Make sure this path is correct -->
</head>
<body>
  <header>

    <a href="index.html">
      <h1 style="width: 30%;float: left;color: orange">KinoMiasto</h1>
    </a>
    <nav>
      <a href={% url 'home' %}>Strona główna</a>
        <a href="{% url 'home' %}#rep">Repertuar</a>
      <a href={% url 'cennik' %}>Cennik</a>
      <a href={% url 'contact' %}>Kontakt</a>
    </nav>
  </header>

  <main>
    <div style="width:90%;float: left;" class="movie-container">
      <div style="width:20%;float: right;" class="movie-image">
        <img src="{% static film.nazwa_jpg %}" alt="Spider-Man Image" id="movie-poster">
      </div>
      <div style="width:80%;float: right;" class="movie-details">
        <h1>{{ film.nazwa }}</h1>
        <p class="categories">{{ film.kategoria1 }} | {{ film.kategoria2 }} | Od lat: 7 | {{ film.czas }}<p/> <details class="movie-description">
          <summary>Pełny opis</summary>
        <p>“Spider-Man: Across the Spider-Verse” (Part One) jest kontynuacją filmu z 2018 roku „Spider-Man Universum”,
          który cieszył się popularnością widzów na całym świecie i zarobił 375 mln dolarów. Film został nagrodzony
          Oscarem® dla najlepszej animacji.</p>
        </details>
          <form action="/kup_bilet/" method="get">
        <div class="select-cinema">
          <label for="cinemaSelect">Wybierz swoje kino</label>
          <select id="cinemaSelect" name="kino">
            <option value=1> Kino Fiołkowa </option>
            <option value=2>Kino Różana</option>
          </select>
            <input type="hidden" name="film" value="{{ film.id }}">
            <button type="submit">Wyślij</button>
        </div>
              </form>
      </div>
    </div>
    <section style="width:100%; float: left;" class="additional-info">
      <h2>Informacje dodatkowe</h2>
      <p>Premiera: {{ film.premiera }}</p>
      <p>Czas trwania: {{ film.czas }}</p>
      <p>Produkcja: {{ film.produkcja }}</p>
      <p>Reżyseria: {{ film.rezyser }}</p>
      <p>Obsada: {{ film.obsada }}</p>
    </section>
  </main>
</body>
</html>